@import 'bootstrap/scss/bootstrap';

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.p-datatable {
  .p-datatable-header {
    background: transparent;
    border: none;
    padding: 0 0 1rem 0;
  }
}

.p-dialog {
  max-height: 90vh;
  
  .p-dialog-content {
    overflow-y: auto;
    max-height: calc(90vh - 100px);
  }
}
