@import 'bootstrap/scss/bootstrap';

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.p-datatable {
  .p-datatable-header {
    background: transparent;
    border: none;
    padding: 0 0 1rem 0;
  }
}

.p-dialog {
  .p-dialog-content {
    overflow: visible !important;
  }
  
  .p-dialog-footer {
    padding-top: 1rem;
    border-top: 1px solid #dee2e6;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}

.p-select, .p-multiselect, .p-datepicker {
  width: 100%;
}

.p-multiselect-panel {
  max-width: 450px;
}
