@import 'bootstrap/dist/css/bootstrap.min.css';

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.p-datatable {
  .p-datatable-header {
    background: transparent;
    border: none;
    padding: 0 0 1rem 0;
  }
}
