<div class="p-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold text-dark">{{ t.get('projects.title') }}</h2>
    <p-button icon="pi pi-plus" [label]="t.get('projects.addProject')" [routerLink]="['/projects/new']"></p-button>
  </div>
  
  <div class="card shadow-sm">
    <div class="card-body">
      <p-table [value]="projects" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
               [rowsPerPageOptions]="[5,10,25,50]" dataKey="id" [loading]="loading"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} projects">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="projectName">{{ t.get('projects.projectName') }} <p-sortIcon field="projectName"></p-sortIcon></th>
            <th>{{ t.get('projects.client') }}</th>
            <th>{{ t.get('projects.assignedMembers') }}</th>
            <th pSortableColumn="startDate">{{ t.get('projects.startDate') }} <p-sortIcon field="startDate"></p-sortIcon></th>
            <th>{{ t.get('projects.endDate') }}</th>
            <th>{{ t.get('projects.status') }}</th>
            <th style="width: 140px;">{{ t.get('common.actions') }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project>
          <tr>
            <td>{{ project.projectName }}</td>
            <td>{{ project.client?.clientName || '-' }}</td>
            <td>
              <span *ngFor="let a of project.projectAssignments; let last = last">
                {{ a.teamMember?.name }}{{ !last ? ', ' : '' }}
              </span>
              <span *ngIf="!project.projectAssignments?.length">-</span>
            </td>
            <td>{{ project.startDate | date:'mediumDate' }}</td>
            <td>{{ project.endDate ? (project.endDate | date:'mediumDate') : '-' }}</td>
            <td>
              <span class="badge" [ngClass]="getStatusClass(project.status)">
                {{ formatStatus(project.status) }}
              </span>
            </td>
            <td>
              <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" [routerLink]="['/projects', project.id, 'edit']"></p-button>
              <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" (onClick)="confirmDelete(project)"></p-button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7" class="text-center text-muted py-4">{{ t.get('common.noData') }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  
  <p-confirmDialog></p-confirmDialog>
  <p-toast></p-toast>
</div>
